.control-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: fit-content; 
    margin: 0 65px;
}

.control-item {
    display: flex;
    gap: 20px;
    width: 100%; 
}

.control-item label {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #1d1d1f;
    line-height: normal;
    align-self: center;
}

.value-input {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    width: 45px;
    height: 30px;
    padding: 0;
    border-radius: 100px;
    font-size: 14px;
    text-align: center;
    border: 1px solid black; 
}

.value-input:focus {
    outline: none;
    border-color: #005CFF;
}

.toggle {
    position: relative;
    width: 45px;
    height: 30px;
    cursor: pointer;
}

.toggle input {
    display: none;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e5e5ea;
    border-radius: 30px;
    transition: background-color 0.3s;
}

.slider::before {
    content: '';
    position: absolute;
    width: 26px;
    height: 26px;
    left: 2px;
    top: 2px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}

.toggle input:checked + .slider {
    background-color: #005CFF;
}

.toggle input:checked + .slider::before {
    transform: translateX(14px);
}

@media (orientation: landscape) {
    .container {
        max-width: 568px;
        min-height: 280px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0;
    }

    .title {
        align-self: flex-start;
    }

    .progress-wrapper {
        margin-left: 20px;
        margin-bottom: 0;
        flex-shrink: 0;
        align-self: center;
    }

    .progress-circle {
        width: 130px;
        height: 130px;
    }
    
    .control-items {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        width: fit-content; 
        margin: 0 85px;
    }
}