@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    margin: 25px;
    width: 100%;
    height: 100%;  
    max-width: 320px;
    min-height: 528px;
    background: white;
}

.title {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 60px;
    color: #1d1d1f;
}